$def with (form, text, title=None)
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="shortcut icon" href="fav.ico" />
        <title>Jason Roett</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->

        <link href="static/main.css" rel="stylesheet" media="screen" />   
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    </head>
  <body>
      <div id="canvas-container"></div>  
      
      <div id="content">  

      <div id="Wrapper">
	      <div id="ImageWindow" data-filename="">
	      
	      </div>

	      <div id="ControlBar">
      			<form class="form" method="post" action="upload" enctype="multipart/form-data"> 
		    		<input type="file" name="myfile" style="color: #777; font-size: 18px;">
		    		<input id="RealSubmitButton" class="button" type="submit" value="send" style="display: none;"/>  
		    		<div id="SubmitButton">Upload</div>
		    	</form>
		    	<div id="ProcessButtons">
		    		<div class="KustumButton" id="Detect">Detect Faces</div>
		    		<div class="KustumButton" id="Catify">Catify</div>
		    		<div class="KustumButton" id="Blur">Blur</div>


		    	</div>
		    	<div id="Status">
		    		Welcome to the FaceCat Application
		    	</div>
		    	
	      </div>
	      <input type="text" id="Console">
	      	
	      </input>
     
	  </div>
	 

	    <span id="foo">$text</span> 
          
          
      </div>
       
  </body>
  
<script type="text/javascript">
	jQuery("#SubmitButton").click(function(){
		jQuery("#RealSubmitButton").click();
	});

    jQuery(document).ready(function() {
    	jQuery(".button").click(function() {
            

            jQuery('form').ajaxForm({
		        beforeSend: function(){
                	RAIN = true;
                	jQuery("#Status").text("Uploading image...");
                },
		        success: function(filename) {
		        	RAIN = false;
		        	jQuery("#ImageWindow").attr("data-filename", filename);
		            jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
		            jQuery("#ImageWindow").animate({
		            	height: 480
		            }, 1000);
		            jQuery("#Status").text("Image upload complete");
		 
		        }
		    });
    	});

    	jQuery("#Detect").click(function(){
    		var filenameText = jQuery("#ImageWindow").attr("data-filename");
            jQuery.ajax({
                type: "POST",
                url: "detect",   
                data: {filename : filenameText},
                beforeSend: function(){
                	RAIN = true;
                	jQuery("#Status").text("Detecting Faces...");
                },
                success: function(filename) {
                	RAIN = false;
                	jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                	jQuery("#Status").text("Face Detection Complete");
                },
            });                         
    	});

    	jQuery("#Catify").click(function(){
    		var filenameText = jQuery("#ImageWindow").attr("data-filename");
            jQuery.ajax({
                type: "POST",
                url: "cats",   
                data: {filename : filenameText},
                beforeSend: function(){
                	RAIN = true;
                	jQuery("#Status").text("Catifying Image...");
                },
                success: function(filename) {
                	RAIN = false;
                	jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                	jQuery("#Status").text("Catify Complete");
                },
            });                         
    	});

    	jQuery("#Blur").click(function(){
    		var filenameText = jQuery("#ImageWindow").attr("data-filename");
            jQuery.ajax({
                type: "POST",
                url: "blur",   
                data: {filename : filenameText},
                beforeSend: function(){
                	RAIN = true;
                	jQuery("#Status").text("Blurring Image...");
                },
                success: function(filename) {
                	RAIN = false;
                	jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                	jQuery("#Status").text("Catify Complete");
                },
            });                         
    	});
    });


    





var CANVAS_WIDTH = Math.round(jQuery(window).width());
var CANVAS_HEIGHT = Math.round(jQuery(window).height());

var FPS = 30;

var RAIN_DROPS = [];
var RAIN_DROP_IMAGE;
var RAIN_RATE = 0.5;
var RAIN = true;

var CLOUDS = [];
var CLOUD_IMAGE;
var CLOUDY = true;

var clock;

var canvasElement = jQuery("<canvas style='overflow: hidden;' width='" + CANVAS_WIDTH + "' height='" + CANVAS_HEIGHT + "'></canvas>");
var canvas = canvasElement.get(0).getContext("2d");
canvasElement.appendTo('#canvas-container');

jQuery("#canvas-container").css("overflow", "hidden");

startTheShow();

jQuery("#canvas-title").click(function(){
    jQuery(this).animate({
        opacity: 0
    });
    stopTheShow()
    
});

function stopTheShow() {
    canvas.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
    window.clearInterval(clock);
}

function startTheShow(){
    RAIN_DROP_IMAGE = new Image();
    RAIN_DROP_IMAGE.src='static/RainDrop.png';   

    CLOUD_IMAGE = new Image();
    CLOUD_IMAGE.src = 'static/Cloud.png'; 

    
    CLOUDS.push(cloud({
        speed: 0,
        x: 200,
        y: 50
    }));
    
    
    Go();
}
  
function rainDrop(I) {
    I.active = true;

    I.xVelocity = 0;
    I.yVelocity = 0;
    
    I.inBounds = function() {
        return I.x >= 0 && I.x <= CANVAS_WIDTH && I.y >= -100 && I.y <= CANVAS_HEIGHT;    
    };

    I.draw = function() {
        canvas.drawImage(RAIN_DROP_IMAGE,I.x,I.y);
    };

    I.explode = function() {
    	this.active = false;
    // Extra Credit: Add an explosion graphic
    };

    I.update = function() {
        I.yVelocity = I.yVelocity + I.acceleration;
        I.x += I.xVelocity;
        I.y += I.yVelocity;

        I.active = I.active && I.inBounds();
    };

return I;
}

function cloud(I) {
	
    I.active = true;

    I.xVelocity = 0;
    I.yVelocity = 0;
    
    I.inBounds = function() {
        return I.x >= 0 && I.x <= CANVAS_WIDTH && I.y >= -100 && I.y <= CANVAS_HEIGHT;    
    };

    I.draw = function() {
    	
    	
        canvas.drawImage(CLOUD_IMAGE,I.x,I.y);
    };

    I.explode = function() {
    	this.active = false;
    // Extra Credit: Add an explosion graphic
    };

    I.update = function() {
    	
        I.yVelocity = I.yVelocity;
        I.x += I.xVelocity;
        I.y += I.yVelocity;
       
        I.active = I.active && I.inBounds();
    };

return I;
}


  
function Go(){         
    clock = setInterval(function(){
        update();
        draw();        
    }, 1000/FPS)     
}   

function update() {
   
      
    if(Math.random() < RAIN_RATE && RAIN){

        RAIN_DROPS.push(rainDrop({
            speed: 0,
            acceleration: 0.3 + Math.random()*0.5,
            x: Math.random()*CANVAS_WIDTH,
            y: -50
        }));
    }    
    
    RAIN_DROPS.forEach(function(rainDrop){
        rainDrop.update();
    });

    CLOUDS.forEach(function(cloud){
    	
        cloud.update();
    });

    CLOUDS = CLOUDS.filter(function(cloud){
    	return cloud.active;
    });

    RAIN_DROPS = RAIN_DROPS.filter(function(rainDrop) {
        return rainDrop.active;
    });
    
   
    
}
    
function draw() {
    canvas.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
    
    RAIN_DROPS.forEach(function(rainDrop) {
        rainDrop.draw();
    });

    CLOUDS.forEach(function(cloud) {
        cloud.draw();
    });
    
}
  
  
  
  
  

</script>
</html>