$def with (form, text, title=None)
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="shortcut icon" href="fav.ico" />
        <title>Catify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->

        <link href="static/css/main.css" rel="stylesheet" media="screen" />   
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    </head>
  <body>
      <div id="canvas-container"></div>  
      
      <div id="content">  

      <div id="Wrapper">
          <div id="ImageWindow" data-filename="">
          
          </div>

          <div id="ControlBar">
                <form class="form" method="post" action="upload" enctype="multipart/form-data"> 
                    <input id="ISFILEHERE" type="file" name="myfile" style="color: #777; font-size: 18px;">
                    <input id="RealSubmitButton" class="button" type="submit" value="send" style="display: none;"/>  
                    <div id="SubmitButton">Upload</div>
                </form>
                <div id="ProcessButtons">
                    <div class="KustumButton" id="Detect">Detect Faces
                    </div><div class="KustumButton" id="Catify">Catify
                    </div><div class="KustumButton" id="Blur">Blur
                    </div><div class="KustumButton" id="Sharpen">Sharpen
                    </div><div class="KustumButton" id="Emboss">Emboss</div>
                    <!--div class="KustumButton" id="Sepia">Sepia</div-->


                </div>
                <div id="Status">
                    Welcome to the FaceCat Application
                </div>
                
          </div>
          <input type="text" id="Console">
            
          </input>
     
      </div>
     

       
          
          
      </div>
       
  </body>
  
<script type="text/javascript">
    jQuery("#SubmitButton").click(function(){

        var isThere = jQuery("#ISFILEHERE").val();

        if(isThere) {
                jQuery("#RealSubmitButton").click();
        } else {
            jQuery("#Status").text("Please upload an image.");
        }

        
    });

    jQuery(document).ready(function() {
        jQuery(".button").click(function() {

            jQuery('form').ajaxForm({
                beforeSend: function(){
                    RAIN = true;
                    jQuery("#Status").text("Uploading image...");
                },
                success: function(filename) {
                    RAIN = false;
                    LIGHTNING = true;
                    jQuery("#ImageWindow").attr("data-filename", filename);
                    jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                    jQuery("#ImageWindow").animate({
                        height: 480
                    }, 1000);
                    jQuery("#Status").text("Image upload complete");
         
                }
            });
        });

        jQuery("#Detect").click(function(){
            var filenameText = jQuery("#ImageWindow").attr("data-filename");

            if(filenameText == "") {
                jQuery("#Status").text("Please select an image file to upload.")
            } else {

                jQuery.ajax({
                    type: "POST",
                    url: "detect",   
                    data: {filename : filenameText},
                    beforeSend: function(){
                        RAIN = true;
                        jQuery("#Status").text("Detecting Faces...");
                    },
                    success: function(filename) {
                        RAIN = false;
                        LIGHTNING = true;
                        jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                        jQuery("#Status").text("Face Detection Complete");
                    },
                });   
            }                      

        });

        jQuery("#Catify").click(function(){
            var filenameText = jQuery("#ImageWindow").attr("data-filename");

            if(filenameText == "") {
                jQuery("#Status").text("Please select an image file to upload.")
            } else {
                jQuery.ajax({
                    type: "POST",
                    url: "cats",   
                    data: {filename : filenameText},
                    beforeSend: function(){
                        RAIN = true;
                        jQuery("#Status").text("Catifying Image...");
                    },
                    success: function(filename) {
                        RAIN = false;
                        LIGHTNING = true;
                        jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                        jQuery("#Status").text("Catify Complete");
                    },
                });    
            }                     

        });

        jQuery("#Blur").click(function(){
            var filenameText = jQuery("#ImageWindow").attr("data-filename");

            if(filenameText == "") {
                jQuery("#Status").text("Please select an image file to upload.")
            } else {

                jQuery.ajax({
                    type: "POST",
                    url: "blur",   
                    data: {filename : filenameText},
                    beforeSend: function(){
                        RAIN = true;
                        jQuery("#Status").text("Blurring Image...");
                    },
                    success: function(filename) {
                        RAIN = false;
                        LIGHTNING = true;
                        jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                        jQuery("#Status").text("Catify Complete");
                    },
                });     
            }                    

        });

        jQuery("#Sharpen").click(function(){
            var filenameText = jQuery("#ImageWindow").attr("data-filename");

            if(filenameText == "") {
                jQuery("#Status").text("Please select an image file to upload.")
            } else {

                jQuery.ajax({
                    type: "POST",
                    url: "sharp",   
                    data: {filename : filenameText},
                    beforeSend: function(){
                        RAIN = true;
                        jQuery("#Status").text("Sharpening Image...");
                    },
                    success: function(filename) {
                        RAIN = false;
                        LIGHTNING = true;
                        jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                        jQuery("#Status").text("Sharpening Complete");
                    },
                });     
            }                    
        });

        jQuery("#Emboss").click(function(){
            var filenameText = jQuery("#ImageWindow").attr("data-filename");

            if(filenameText == "") {
                jQuery("#Status").text("Please select an image file to upload.")
            } else {
            jQuery.ajax({
                type: "POST",
                url: "emboss",   
                data: {filename : filenameText},
                beforeSend: function(){
                    RAIN = true;
                    jQuery("#Status").text("Embossing Image...");
                },
                success: function(filename) {
                    RAIN = false;
                    LIGHTNING = true;
                    jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                    jQuery("#Status").text("Embossing Complete");
                },
            });   
            }                      
        });

        jQuery("#Sepia").click(function(){
            var filenameText = jQuery("#ImageWindow").attr("data-filename");
            jQuery.ajax({
                type: "POST",
                url: "sepia",   
                data: {filename : filenameText},
                beforeSend: function(){
                    RAIN = true;
                    jQuery("#Status").text("Applying Sepia Image...");
                },
                success: function(filename) {
                    RAIN = false;
                    LIGHTNING = true;
                    jQuery("#ImageWindow").css("background-image", "url('static/" + filename +"')");
                    jQuery("#Status").text("Sepia Complete");
                },
            });                         
        });
    });


    





var CANVAS_WIDTH = Math.round(jQuery(window).width());
var CANVAS_HEIGHT = Math.round(jQuery(window).height());

var FPS = 30;

var LIGHTNING_STRIKES = [];
var LIGHTNING_IMAGE;
var LIGHTNING_RATE = 0.01;
var LIGHTNINNG = true;

var RAIN_DROPS = [];
var RAIN_DROP_IMAGE;
var RAIN_RATE = 0.5;
var RAIN = false;

var CLOUDS = [];
var CLOUD_IMAGE;
var CLOUDY = true;

var LIGHTNING_IMAGE;
var LIGHTNING = false;
var clock;

var canvasElement = jQuery("<canvas style='overflow: hidden;' width='" + CANVAS_WIDTH + "' height='" + CANVAS_HEIGHT + "'></canvas>");
var canvas = canvasElement.get(0).getContext("2d");
canvasElement.appendTo('#canvas-container');

jQuery("#canvas-container").css("overflow", "hidden");

startTheShow();

jQuery("#canvas-title").click(function(){
    jQuery(this).animate({
        opacity: 0
    });
    stopTheShow()
    
});

function stopTheShow() {
    canvas.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
    window.clearInterval(clock);
}

function startTheShow(){
    RAIN_DROP_IMAGE = new Image();
    RAIN_DROP_IMAGE.src='static/img/RainDrop.png';   

    CLOUD_IMAGE = new Image();
    CLOUD_IMAGE.src = 'static/img/Cloud.png'; 

    LIGHTNING_IMAGE = new Image();

    LIGHTNING_IMAGE.src = 'static/img/Lightning1.png';

    var i = 0;

    while(i < 14){
        CLOUDS.push(cloud({
        speed: 0,
        x: i*120,
        y: 100*Math.random()-70
    }));
        i = i + 1;
    }
    
    
    
    Go();
}

function lightning(I){
    I.active = true;

    I.xVelocity = 0;
    I.yVelocity = 0;
    
    I.age = 0;

    I.inBounds = function() {
        return I.x >= 0 && I.x <= CANVAS_WIDTH && I.y >= -100 && I.y <= CANVAS_HEIGHT;    
    };

    I.draw = function() {
        canvas.drawImage(LIGHTNING_IMAGE,I.x,I.y);
    };

    I.explode = function() {
    	this.active = false;
    // Extra Credit: Add an explosion graphic
    };

    I.update = function() {

        I.age = I.age + 1;

        if(this.age > 10) {
        	this.active = false;
        }
    };

	return I;
}

  
function rainDrop(I) {
    I.active = true;

    I.xVelocity = 0;
    I.yVelocity = 0;
    
    I.inBounds = function() {
        return I.x >= 0 && I.x <= CANVAS_WIDTH && I.y >= -100 && I.y <= CANVAS_HEIGHT;    
    };

    I.draw = function() {
        canvas.drawImage(RAIN_DROP_IMAGE,I.x,I.y);
    };

    I.explode = function() {
        this.active = false;
    // Extra Credit: Add an explosion graphic
    };

    I.update = function() {
        I.yVelocity = I.yVelocity + I.acceleration;
        I.x += I.xVelocity;
        I.y += I.yVelocity;

        I.active = I.active && I.inBounds();
    };

return I;
}

function cloud(I) {
    
    I.active = true;

    I.xVelocity = 1;
    I.yVelocity = 1;

    I.startX = I.x;
    I.startY = I.y;
    I.rate = 1;
    I.pathWidth = Math.random();
    I.age = 1;
    //I.reducingFactor = 0.03*Math.random();
    
    I.inBounds = function() {
        return I.x >= 0 && I.x <= CANVAS_WIDTH && I.y >= -100 && I.y <= CANVAS_HEIGHT;    
    };

    I.draw = function() {               
        canvas.drawImage(CLOUD_IMAGE,I.x,I.y);
    };

    I.explode = function() {
        this.active = false;
    // Extra Credit: Add an explosion graphic
    };

    I.update = function() {
        I.age = I.age + 0.1;
        //I.pathWidth = I.pathWidth + Math.random()*0.4;
        //I.yVelocity = I.yVelocity + I.acceleration;
        //I.x = I.startX + Math.sin(I.y*I.reducingFactor)*I.pathWidth;
        //I.y += Math.sin(I.y*I.reducingFactor)*I.pathWidth;

        I.y = I.startY + Math.sin(I.age)*20*I.pathWidth;

        I.active = I.active && I.inBounds();
    };

return I;
}


  
function Go(){         
    clock = setInterval(function(){
        update();
        draw();        
    }, 1000/FPS)     
}   

function update() {
   
      
    if(Math.random() < RAIN_RATE && RAIN){

        RAIN_DROPS.push(rainDrop({
            speed: 0,
            acceleration: 0.3 + Math.random()*0.5,
            x: Math.random()*CANVAS_WIDTH,
            y: -50
        }));
    }    
    
    if (LIGHTNING) {
        //THUNDER.active = true;
        LIGHTENING = false;
    }

    RAIN_DROPS.forEach(function(rainDrop){
        rainDrop.update();
    });

    if(Math.random() < LIGHTNING_RATE) {

    	LIGHTNING_STRIKES.push(lightning({            
            x: Math.random()*CANVAS_WIDTH,
            y: 100
        }));
    }

    LIGHTNING_STRIKES.forEach(function(lightning){
    	lightning.update();
    });

    CLOUDS.forEach(function(cloud){
        
        cloud.update();
    });

    CLOUDS = CLOUDS.filter(function(cloud){
        return cloud.active;
    });

    RAIN_DROPS = RAIN_DROPS.filter(function(rainDrop) {
        return rainDrop.active;
    });
    
    LIGHTNING_STRIKES = LIGHTNING_STRIKES.filter(function(lightning){
    	return lightning.active;

    });
  
    
   
    
}
    
function draw() {
    canvas.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
    
    RAIN_DROPS.forEach(function(rainDrop) {
        rainDrop.draw();
    });

    LIGHTNING_STRIKES.forEach(function(lightning) {
        lightning.draw();
    });

    CLOUDS.forEach(function(cloud) {
        cloud.draw();
    });

    
    
    

}
  
  
  
  
  

</script>
</html>